@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Nota: Dado que en el Tailwind config se utiliza "hsl(var(--primary))", 
  la variable debe estar en formato HSL sin incluir la función hsl().
  Se convierte #4fe2c8 a un valor HSL aproximado: 169, 72%, 60%.
*/
:root {
  --primary: 169, 72%, 60%;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: thin;
}
@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .nav-link {
    @apply hover:text-primary transition-colors;
  }

  .btn-primary {
    @apply bg-primary text-black px-6 py-2 hover:bg-opacity-90 transition-opacity;
  }

  .btn-secondary {
    @apply border border-white px-6 py-2 hover:bg-white hover:text-black transition-colors;
  }
}

